# frozen_string_literal: true
class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change

    add_column :auth_accounts, :otp_secret, :string
    add_column :auth_accounts, :otp_session_id, :string
    add_column :auth_accounts, :otp_consumed_timestep, :integer
    add_column :auth_accounts, :otp_backup_codes, :text, array: true
    add_column :auth_accounts, :otp_required_for_login, :boolean

  end
end